# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Experiment results
*.csv
# LaTeX files
*.aux
*.log
*.synctex.gz
*.pdf
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.toc
*.bbl
*.blg
*.out
*.lot
*.lof
*.lol
*.loa
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fls
*.xdy
*.fdb_latexmk
*.synctex(busy)
*.synctex
*.pdf

#Not exclude
!img/*.pdf
!final_version.pdf